/Splitter/nbproject/
/Tokenizer/nbproject/
/Tagger/nbproject/
/Vocabulator/nbproject/
/Semantex/nbproject/
/Extractor/nbproject/
/Pipeline/nbproject/
/Utils/target/
/Splitter/target/
/Tokenizer/target/
/Rockwell/target/
/Tagger/target/
/Vocabulator/target/
/Semantex/target/
/Pipeline/target/
/Extractor/target/
/RockwellJavaAPI/target/
/Playground/target/