*.gitignore filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
--everything text !filter !merge !diff
*.java text !filter !merge !diff
*.xml text !filter !merge !diff
patterns text !filter !merge !diff
expressions text !filter !merge !diff
concepts text !filter !merge !diff
techcrunch text !filter !merge !diff
*.* text !filter !merge !diff
stopwords text !filter !merge !diff
stopphrases text !filter !merge !diff
selectors text !filter !merge !diff
abbreviations text !filter !merge !diff
acronyms text !filter !merge !diff
currencyCodes text !filter !merge !diff
currencySymbols text !filter !merge !diff
lexicon text !filter !merge !diff
measuringUnits text !filter !merge !diff
misspellings text !filter !merge !diff
toklex text !filter !merge !diff
ner text !filter !merge !diff
nominals text !filter !merge !diff
intensifiers text !filter !merge !diff
particles text !filter !merge !diff
phrasalVerbs text !filter !merge !diff
reportingVerbs text !filter !merge !diff
testExtractionFrames text !filter !merge !diff
testExtractionSelectors text !filter !merge !diff
